[Unit]
Description=AdGuardHome Upstream Service
After=network-online.target

[Service]
Type=simple
Restart=on-failure                                                                                                               
RestartSec=5s
ExecStart=/bin/bash /usr/local/bin/upstream.sh
